ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-image: url(leo1.jpg);
    border: 12px solid black;
}

li a {
    display: block;
    color: white;
    font-family: sans-serif;
    font-size: 120%;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
    text-shadow: 6px 6px 13px 30px black;


}

li {
    text-align: center;

}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: black;
    color: white;
}

li a:hover:not(.active) {
    background-color: black;
    color: white;
}
